<div class="container__big-card">
  <div class="big-card__image">
    <img
      src="https://images.unsplash.com/photo-1543244128-30d70d41e2a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=867&q=80"
      alt="" height="200px" srcset="">
  </div>
  <div class="big-card__title">
    <h1>Sudaca: Qué significa el termo?</h1>
  </div>
  <div class="big-card__text">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, officiis modi quo possimus dolorum accusamus
      cupiditate veritatis, saepe repudiandae earum odit eligendi a qui debitis distinctio aspernatur nostrum molestiae
      consequuntur?</p>
  </div>
</div>