.container__big-card {
  margin: 0 20px;

  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.big-card__image>img {
  width: 100%;
}

.big-card__title>h1 {
  margin-top: 15px;
  font-size: 20px;
}

.big-card__text>p,
.big-card__title>h1>a {
  margin-top: 10px;
  color: var(--white);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.big-card__text>p:hover,
.big-card__title>h1>a:hover {
  opacity: 0.4;
}