<article class="container__about" lang="en">
    <section class="about_title">
        <h2>ANA, SÓ ANA</h2>
    </section>
    <main class="about_description">
        <a [routerLink]="['']" class="description_back">
            << BACK </a>
                <p class="description_text">
                    Meet Ana, a Brazilian tattooist with a remarkable artistic journey spanning a decade. Hailing from
                    the
                    vibrant country of Brazil, Ana has established herself as a multi-talented artist, excelling not
                    only in the
                    realm of tattooing but also in ceramics and watercolor illustrations.

                    With a passion for creativity deeply ingrained in her soul, Ana embarked on her artistic pursuits at
                    a young
                    age. Over the course of ten years, she has honed her skills and mastered various art forms,
                    channeling her
                    talents into different mediums to bring her artistic visions to life.
                </p>

                <p class="description_text">
                    In the realm of tattooing, Ana's expertise shines through her intricate and captivating designs.
                    Each tattoo
                    she creates is a masterpiece, carefully crafted to reflect the inarticleiduality and personal story
                    of her
                    clients. Her attention to detail and ability to seamlessly blend different styles and techniques
                    make her a
                    sought-after artist in the tattoo industry.

                    Beyond tattooing, Ana's artistic repertoire extends to the world of ceramics. Working with clay, she
                    molds
                    and sculpts exquisite pieces that showcase her creativity and love for craftsmanship. Her ceramics,
                    whether
                    functional or purely decorative, bear the mark of her artistic touch, with each piece telling its
                    own unique
                    story.
                </p>
                <p class="description_text">
                    Ana's artistic talents don't stop there. She also explores the realm of watercolor illustrations,
                    using this
                    delicate medium to bring her imagination to life. Her watercolor artworks are characterized by their
                    ethereal beauty and vibrant colors, capturing the essence of the subjects she portrays with a touch
                    of
                    whimsy and grace.

                    As a versatile artist, Ana draws inspiration from various sources, often blending elements from
                    nature,
                    mythology, and cultural symbolism into her creations. Her artwork resonates with a sense of beauty,
                    emotion,
                    and storytelling, allowing viewers to connect with her pieces on a profound level.

                </p>
                <p class="description_text">
                    With a decade of experience under her belt, Ana continues to push the boundaries of her artistic
                    endeavors.
                    Her dedication to her craft and her commitment to creating meaningful art sets her apart as an
                    artist who
                    constantly evolves and grows.

                    Whether she's transforming skin into a canvas for breathtaking tattoos, shaping clay into tangible
                    forms of
                    beauty, or delicately painting with watercolors, Ana's artistic journey is a testament to her
                    passion,
                    skill, and unwavering dedication to her art.
                </p>
    </main>
    <section class="about_links">
        <ul role="list">
            <li><a href="https://www.instagram.com/ana.soana">instagram</a></li>
            <li><a href="mailto:querotatuarcomaana@gmail.com">mail</a></li>
        </ul>
    </section>
</article>