.container__small-card {
  margin-bottom: 15px;
  width: 700px;
}

.container__small-card-content {

  display: flex;
  flex-direction: row;
}

.small-card__photo>img {
  width: 200px;
  min-width: 200px;
  margin-right: 10px;
}

.small-card_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__hr {
  margin-top: 10px;
}