*{
  text-decoration: none;
}

.container__small-card {
  margin-bottom: 15px;
  width: 700px;
}

.container__small-card-content {

  display: flex;
  flex-direction: row;
}

.small-card__photo>img {
  width: 200px;
  min-width: 200px;
  margin-right: 10px;
}

.small-card_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__hr {
  margin-top: 10px;
}

.small-card__title>h1>a {
  margin-top: 10px;
  color: var(--white);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.small-card__title>h1>a:hover {
  opacity: 0.4;
}