<section class="container__menu-bar">
    <ul>
        <li><a [routerLink]="['about']">ABOUT</a></li>
        <li><span tabindex="0">•</span></li>
        <li><a href="https://www.instagram.com/ana.soana">INSTAGRAM</a></li>
        <li><span tabindex="0">•</span></li>
        <li><a href="https://github.com/petrixia">GITHUB</a></li>
        <li><span tabindex="0">•</span></li>
        <li><a href="https://linkedin.com/in/patriciaccb">LINKEDIN</a></li>
        <li><span tabindex="0">•</span></li>
        <li><a href="mailto:petrixia@proton.me">MAIL</a></li>
    </ul>
</section>