:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  font-family: 'Segoe UI';
  color: #fff;
  
  --navy-blue: #013460;
  --soft-beige: #F9F3EF;
  --grey: #515050;
  --white: #fff;
 }
